/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/

    html {
      height: 100%;
    }
    body {
       height: 100%;
    }

    header {
        background-color: #ff0000;
        padding:5px;
        border: 5px double #534A8F
        font-size:28px;
        display: block;
        width: 100%;
    }
    nav {
        line-height:
        background-color:
        width:100px;
        display: inline-block;
        vertical-align: top;
    }
    nav ul {
        list-style-type: none;
    }
    a {
        color: ;
    }
    section {
        width: 516px;
        display: inline-block;
    }
    aside {
      width: 125px;
      display: inline-block;
      vertical-align: top;
      background-color:;
      font-size: ;
    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 790px;
        background-color:;
        text-align:;
        padding:5px;
        display: block;
    }
#Picture1{
  height: 80px;

}
h1, #Picture1{
  display: inline-block;
  padding-left: 100px;
}
